<h2>Top Headbangers</h2>
<form [formGroup]="bandForm" (ngSubmit)="onSubmit()">
   <label>
      Band Name:
      <input type="text" formControlName="bandName" />
   </label>

   <button type="submit" [disabled]="!bandForm.valid">Save</button>
</form>

<div *ngIf="bands" class="row justify-content-center">
   <a *ngFor="let band of bands" routerLink="detail/{{band.id}}" class="col-1-4 HB">
      <div class="module band">
         <h4>{{band.name}}</h4>
      </div>
   </a>
</div>



<!-- Cards -->
<div class="container-fluid">
   <div class="row justify-content-center">
   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/1.jpg" class="card-img-top" alt="1" width="200" height="220"/>
       <div class="card-body">
           <p class="card-text">Lord of this World</p>
           <a href="https://www.youtube.com/watch?v=2I09vnXoEDk"  target="_blank" class=" stretched-link"></a>
       </div>
   </div>
 </div>

   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/2.jpg" class="card-img-top" alt="2"width="200" height="220" />
       <div class="card-body">
           <p class="card-text">Sabbath Hex</p>
           <a href="https://www.youtube.com/watch?v=2l4Ts2p7jPE&ab_channel=MetalHammerOfficial" target="_blank" class=" stretched-link"></a>
       </div>
   </div>
 </div>

   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/3.jpg" class="card-img-top" alt="4" width="200" height="220" />
       <div class="card-body">
           <p class="card-text">Brother Bishop</p>
           <a href="https://www.youtube.com/watch?v=HYHb42yTIqo&ab_channel=MetalBladeRecords" target="_blank" class=" stretched-link"></a>
       </div>
   </div>
 </div>

   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/4.jpg" class="card-img-top" alt="4" width="200" height="220" />
       <div class="card-body">
           <p class="card-text">Dyers Eve</p>
           <a href="https://www.youtube.com/watch?v=qbwFMZTFrmU&ab_channel=Metallica" target="_blank" class="stretched-link"></a>
       </div>
   </div>
 </div>

   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/5.jpg" class="card-img-top" alt="5" width="200" height="220" />
       <div class="card-body">
           <p class="card-text">I'm Broken</p>
           <a href="https://www.youtube.com/watch?v=2-V8kYT1pvE&ab_channel=Pantera"  target="_blank"class=" stretched-link"></a>
       </div>
   </div>
 </div>
   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/6.jpg" class="card-img-top" alt="6" width="200" height="220" />
       <div class="card-body">
           <p class="card-text">Eyes of the South</p>
           <a href="https://www.youtube.com/watch?v=roQpKo_7i18&ab_channel=R.BuddDwyer"  target="_blank"class=" stretched-link"></a>
       </div>
   </div>
 </div>
 <br>
   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/7.jpg" class="card-img-top" alt="7" width="200" height="220" />
       <div class="card-body">
           <p class="card-text">One Hand On The Buffalo</p>
           <a href="https://www.youtube.com/watch?v=oq5MKrUQIQQ&ab_channel=SakarosRockaine"  target="_blank"class=" stretched-link"></a>
       </div>
   </div>
 </div>
   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/8.jpg" class="card-img-top" alt="8"  width="200" height="220" />
       <div class="card-body">
           <p class="card-text">Arise</p>
           <a href="https://www.youtube.com/watch?v=6BOHpjIZyx0&ab_channel=RoadrunnerRecords"  target="_blank"class=" stretched-link"></a>
       </div>
   </div>
 </div>
   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/9.jpg" class="card-img-top" alt="9"  width="200" height="220" />
       <div class="card-body">
           <p class="card-text">Dead for Fifty-Two Hours</p>
           <a href="https://www.youtube.com/watch?v=I-ECvhLaWVY&ab_channel=HandsOfDoom"  target="_blank"class=" stretched-link"></a>
       </div>
   </div>
 </div>
   <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="card">
       <img src="../assets/10.jpg" class="card-img-top" alt="10"  width="200" height="220" />
       <div class="card-body">
           <p class="card-text">Wolverine Blues</p>
           <a href="https://www.youtube.com/watch?v=uNi0tsCU-6g&ab_channel=EaracheRecordsk"  target="_blank"class=" stretched-link"></a>
         </div>
       </div>
     </div>
   </div>
  </div>
 
<!-- Ez itt a megfelelő cursor -->
<style type="text/css">
   * {
      cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur),
         auto !important;
   }
</style> <a href="https://www.cursors-4u.com/cursor/2005/06/03/sym57.html" target="_blank" id="rockon"
   title="Rock On"><img src="https://cur.cursors-4u.net/cursor.png" border="0" alt="Rock On"
      style="position:absolute; top: 0px; right: 0px;" /></a>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">