/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;    font-size: 40px;
}

label {
  font-family: 'Permanent Marker', cursive;font-size: 20px;
}
  
.bands-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  font-family: 'Bebas Neue', cursive;
}
  
a.HB {
  background-color:black;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color:cornsilk;
  text-align: center;
  /* width: 100%; */
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;    font-size: 35px;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
a .card {
  background-color: whitesmoke;
}


  
@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}
  
a:hover {
  background-color:orangered;
}

.card-body {
  font-family: 'Permanent Marker', cursive;font-size: 20px;
}

#rockon {
  background-color: #fff;
}

/* cards */

.card {
  box-shadow: 0 16px 38px -12px rgba(209, 199, 199, 0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
  transition: 0.8s;

}

.card:hover {
  box-shadow: none;
  cursor: pointer;
}


