<div class="p-4">
    <div class="container" style="font-family: 'Permanent Marker', cursive;font-size: 20px; text-align: center;">
        <h1>Hi {{user.firstName}}!</h1>
            <p>Welcome on board!</p>
                <p>Here you are, because art, beauty, poerty and love are important to you</p>
                    <img src="https://media.giphy.com/media/QsIcD3gCR59v2ecyLr/giphy.gif" alt="grinder">
                <p><a routerLink="/users">Go to the collection!</a></p>                
     </div>
</div>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

