
   <h2>MY-METAL-COLLECTOR</h2>


<div class="row justify-content-center">
   <router-outlet></router-outlet>
</div>

   <br>

<!-- Ez itt a megfelelő cursor -->
<!-- <style type="text/css">
   * {
      cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur),
         auto !important;
   }
</style> <a href="https://www.cursors-4u.com/cursor/2005/06/03/sym57.html" target="_blank" id="rockon"
   title="Rock On"><img src="https://cur.cursors-4u.net/cursor.png" border="0" alt="Rock On"
      style="position:absolute; top: 0px; right: 0px;" /></a> -->

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
